* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header, footer {
    background-color: #1F2937;
}

.header img {
    width: 450px;
    display: flex;
}

.header {
    padding: 20pX 500px 100px 500PX;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-container {
    width: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.mini {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.mini-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 1100px;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    align-items: center;
    font-weight: 200;
}

li {    
    margin: 0px 10px 0px 0px;
}

a {
    text-decoration: none;
    color: white;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 600px;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
    width: 600px;
}

.header button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #3882F6;
}

.header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-container button {
    background-color: #3882F6;
}

.signup-container {
    background-color: #3882F6;
}


.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.reviews {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: 'light italic';
    color: #1F2937;
}

button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    opacity: 70%;
    transition: 300ms;
}